umask 0022

__build_path() {
  local path sep
  local -a patharray
  path=$path:/usr/local/bin
  path=$path:/usr/local/sbin
  path=$path:$HOME/bin
  path=$path:/usr/bin:/bin
  path=$path:/usr/sbin:/sbin
  path=$path:/usr/libexec
  IFS=: builtin read -r${BASH_VERSION+a} patharray <<< "$path"
  for path in "${patharray[@]}" ; do
    case "$path" in
      ('') ;;
      (*) printf '%s' "$sep$path"; sep=: ;;
    esac
  done
}
unset PATH
PATH=$(__build_path)
export PATH

MANPATH=$MANPATH:/usr/share/man
MANPATH=$MANPATH:/usr/local/man
MANPATH=$MANPATH:/usr/local/share/man
export MANPATH

# Simple variable set for other scripts to know if this is an OSX system
[[ $(uname -s) =~ "Darwin" ]] && export _isOSX=1;

