# load the bash completion scripts
if [ -f $(brew --prefix)/etc/bash_completion ]; then
  source $(brew --prefix)/etc/bash_completion
fi

# load in z dir tracking. https://github.com/rupa/z
_Z_DATA="$HOME/Library/Caches/z.db"
source /usr/local/etc/profile.d/z.sh || unset _Z_DATA;

