# load the homebrew bash completion scripts
[ -f $(brew --prefix)/etc/bash_completion ] && source $(brew --prefix)/etc/bash_completion

# load in z dir tracking. installed by homebrew. homepage is https://github.com/rupa/z
_Z_DATA="$HOME/Library/Caches/z.db"
[ -f /usr/local/etc/profile.d/z.sh ] && source /usr/local/etc/profile.d/z.sh || unset _Z_DATA;

# load Python virtualenvwrapper
[ -d $HOME/.virtualenvs ] && export WORKON_HOME=$HOME/.virtualenvs
[ -f /usr/local/bin/virtualenvwrapper.sh ] && source /usr/local/bin/virtualenvwrapper.sh

# load perlbrew  homepage http://search.cpan.org/dist/App-perlbrew/
[ -d /usr/local/perlbrew ] && {
  export PERLBREW_ROOT=/usr/local/perlbrew
  export PERLBREW_HOME="${HOME}/Library/Application Support/perlbrew"
  source ${PERLBREW_ROOT}/etc/bashrc
}


