# load the bash completion scripts
[ -f $(brew --prefix)/etc/bash_completion ] && source $(brew --prefix)/etc/bash_completion

# load in z dir tracking. https://github.com/rupa/z
_Z_DATA="$HOME/Library/Caches/z.db"
[ -f /usr/local/etc/profile.d/z.sh ] && source /usr/local/etc/profile.d/z.sh || unset _Z_DATA;

